
<table mat-table [dataSource]="rows()">
  <ng-container *ngFor="let col of columns" [matColumnDef]="col.value">
    <th mat-header-cell *matHeaderCellDef>{{ col.label }}</th>
    <td mat-cell *matCellDef="let row">
      @if (col.render) {
        <app-dynamic-cell
          [componentOrTemplate]="col.render()"
          [context]="{ $implicit: row, value: row[col.value] }"
        >
        </app-dynamic-cell>
      } @else {
        {{row[col.value]}}
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>
</table>
