<header>
  <h1>Material custom components</h1>
</header>
<app-table />

<app-dynamic-table [columns]="columns" [rows]="rows"/>

<div class="section">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-custom-material-input
      label="Email Address"
      type="email"
      formControlName="email"
    />
    <app-radio-group formControlName="radio" [options]="radioOptions">
    </app-radio-group>

    <app-check-box formControlName="checkbox" [option]="checkboxOption" />

    <app-checkbox-group
      formControlName="checkboxes"
      [options]="checkboxOptions"
    >
    </app-checkbox-group>

    <app-single-select formControlName="singleSelect" [options]="selectOptions">
    </app-single-select>

    <app-multi-select formControlName="multiSelect" [options]="multiOptions">
    </app-multi-select>
    <app-button
      label="Add new"
      color="primary"
      shape="rounded"
      type="submit"
      icon="edit"
      [disabled]="form.invalid"
    />
  </form>
  <app-expanded-progress-bar
  title="Patient characteristic"
  [progress]="60"
  [rows]="[
    { label: 'Demographic', tags: ['Locked', 'Signed', 'SDV'] },
    { label: 'Diagnosis and medical history', tags: ['Locked', 'Signed', 'SDV'] },
    { label: 'About career', tags: ['Locked', 'Signed', 'SDV'] },
    { label: 'Heart rate', tags: ['Locked', 'Signed'], repeating: true }
  ]">
</app-expanded-progress-bar>
  <app-menu-panel />
  <app-expand-menu />
</div>



