:host {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: auto;
  height: 100vh;
  header {
    padding-inline: 1rem;
    width: 100%;
    background: #fe8080;
  }

  form {
    padding: 2rem;
    place-self: center;
    border-radius: 2rem;
    background-color: #fff;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
  }
}
