:host {
  display: flex;
  align-items: center;
  // opacity: 0;
}

.select {
  max-width: 100px;
  margin-left: 0.7;
}

.divider {
  height: 1rem;
  color: currentColor;
  margin: 0 0.75rem;
}

// :host.floated {
//   opacity: 1;
// }
